body{
    background-color: black;
}
.imageDiv{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}
.imageDiv img{
    border: 3px solid white;
    width: 100%;
}
.imageDiv h1{
    color: white;
    font-size: 2;
    text-transform: uppercase;
}